body {
    position: relative;
    background-color: lightblue;
    text-align: center;
}

.plane {
    width: 69;
    position: absolute;
    left: 0px;
}

.pop-cat {
    width: 69;
    position: absolute;
    bottom: 30px;
}

.milk {
    width:42;
    position: absolute;
    left:30px;
    display:none;
}

#move-button {
    position: absolute;
    bottom: 0px;
}